<%=  form_for (@recipe, remote: true) do |f| %>
 

 <div class= "field"> <%= f.label :video_url, "Video" %> <br>
  <%= f.url_field :video_url %> </div>

   <div class="field"> <%= f.label :title, "Title"  %><br>
  <%= f.text_field  :title %></div>

  <div class="field"> <%= f.label :description, "Description" %> <br>
  <%= f.text_area :description %> </div>

  <div class="field"> <%= f.label :all_tags%>
  <%= f.text_field :all_tags %>

  
  <div class='action'> 
  <%= f.submit %>
  </div>

  <% end %>


