<div class="row" align="center">
<div class= "col-md-8">

<img src="<%=@recipe.video_url%>" height="500" width="500"> <br>
<div class"img" align="center">
<h2> <u> Dish Name</u></h2>
<font size="5"><%= @recipe.title %></font><br>
<div class="row" align="center">
<h2> <u> Ingedients</u></h2>
<font size="3"><u><%= @recipe.description %></u></font> 
</div>

<br><br>
<font size="5"><b><u>Delizioso : <%= rating_for_user @recipe, current_user, "delizioso",  disable_after_rate: false %></b></u></font>
<br><br>
<div class="row" align="middle">
<%= link_to "Remove Recipe", recipe_path(@recipe), method: :delete, class: "btn btn-danger"%> 
<%= link_to "Edit Recipe",  edit_recipe_path(@recipe), class: "btn btn-warning" %> 
</div>
</div>