<div id="form">
<%= form_for :user, url: '/users', remote: true do |f| %>
  Your Name: <%= f.text_field :name %><br />
  Your E-mail: <%= f.text_field :email %><br />
  Your Desired Username: <%= f.text_field :username %><br />
  Password: <%= f.password_field :password %><br />
  Password Confirmation: <%= f.password_field :password_confirmation %><br />
  <%= f.submit "Submit" %>
<% end %>
</div>

Already have an account? <%= link_to "Click here.", root_path %>

<div id="notification">
