<div class="col-md-9 content">
  <div class="page">
    <article>
      <div class="page-header page-header-resume">
       <h2><%= @user.username%></h2>
        <img src="<%= @user.image_url%>" alt="" title="" />
      </div><!-- end page-header -->
<div class="row" align ="center">
Skills  : <%= rating_for @user, "skills",  disable_after_rate: false %>

  <div class="row">
    <% if @user.recipes %>
      <div class="page-header page-header-resume">
      <div class="row" align="center">
        <%= link_to "Create a recipe", new_recipe_path, class: "btn btn-primary" %>
     </div> <!-- end row -->
    <h1>Recipes</h1>
  </div>
</div>
  <% @user.recipes.each do |recipe| %>

    <div class="col-md-4" align="left">
  <%= link_to recipe.title, recipe_path(recipe) %> <%= rating_for recipe, "speed" %>
  <br>
  <p> Tags: <%= raw recipe.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %></p>
  <br>

</div><!-- end col-md-4 -->
  <% end %>
  <% end %>
</div><!-- end row -->
</article><!-- end article -->
</div><!-- end page -->
</div><!-- end col-mid-9 -->

